<div style="border: 1px solid burlywood;margin: 10px;border-radius: 10px;background-color: white;">
  <div class="container text-center p-4 row">
    <div class="col-6">
      <img [src]="product.image" width="200" height="200">
    </div>
    <div class="col-6">
      <h3>{{product.title}}
         <span> <button *ngIf="!isDisplay" class="btn btn-primary" (click)="changeIsDisplay()">+</button>
          <button *ngIf="isDisplay" class="btn btn-primary" (click)="changeIsDisplay()">-</button></span></h3>
      <div *ngIf="isDisplay">
        <h3>{{product.price | currency}}</h3>
        <p>{{product.description}}</p>
      </div>
    </div>
    <app-counter (emitter)="updateCount($event)"></app-counter>
    <span style="font-weight: bold;">QUANTITY :{{quantity}}</span>
  </div>
</div>