<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="home" routerLinkActive="active" [routerLink]="['/home']">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="aboutus" routerLinkActive="active" [routerLink]="['/aboutus']">About Us</a>
      </li>
      
    </ul>
  </div>
</nav>
<div class="container text-center">
  <router-outlet></router-outlet>
</div>
<button  (click)="changeStatus()">click to enable or disable</button>
<button [attr.disabled]="status?true:null">sample button</button>
<ul *ngFor="let person of obj">
  <li>{{person.name}}</li>
  <li>{{person.age}}</li>
  <li>{{person.gender}}</li>
</ul>